.loginContainer {
  background: url('https://parline.ru/cas/219ca1bfc511c9babe1125240c0252d5.jpg') no-repeat;
  background-size: cover;
  height: 100%;
}


.loginFormContainer {
  background-color: #fff;
  border-radius: 5px;
  //margin-top: 8em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  height: 310px;

  //background: url('https://parline.ru/cas/219ca1bfc511c9babe1125240c0252d5.jpg') no-repeat;
  //background-size: cover;
}
